* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
:root{
    --white: #ffffff;

}
nav{
    padding-right: 10px;
}
.containerHeader{
    display: flex;
    justify-content: space-between;
}
#logo{
    margin-left: 30px;
    align-self: flex-end;
    color: var(--white);
    font-size: 32px;

}
.navBar{
    display: flex;
    list-style-type: none;
    margin: 40px 90px 0px 0px;
    padding: 3px;
    justify-content: space-evenly;
    
}
li a:link { text-decoration: none; }

li a:visited { text-decoration: none; }

li a:hover { 
    text-decoration: none;
    background-color: var(--white);
    color: black;
}

li a:active { text-decoration: none; }

li{
    float: left;
    padding: 0 40px 0 5px;
}

li a{
    border-radius: 5px;
    color: var(--white);
    display: block;
}
.dropDownContent{
    display: none;
}
.dropDownContent a{
    color: var(--white);
    background-color: black;
}
.dropDownContent a:hover{
    background-color: var(--white);
    color: black;

}
.dropdown:hover .dropDownContent{
    display: block;
}
section{
    margin: 70px 300px 0;
    text-align: center;
}
.labelList{
    width: 100px;
    height: 30px;
    margin: 330px auto 100px;
}
.mainHeader{
    font-size: 40px;
}
.containerMain{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
    color: var(--white);
    margin-top: 10rem;
}
.containerMain p{
    text-align: center;
    width: 50%;
}
.containerMain a{
    border: 2px solid var(--white);
    border-radius: 5px;
    text-decoration: none;
    color: var(--white);
    padding: 7px;
}
div .containerMain{
    text-align: center;
}
.containerFooter{
    display: flex;
    justify-content: flex-end;
}
.labelList{
    color: var(--white);
}
#dot{
    margin-top: 10rem;
    text-align: center;
}
.dotItem{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    cursor: pointer;;
}
@media only screen and (max-width: 992px){
    nav label{
            display: block;
            background-color: white;
            color: black;
            padding: 10px;
            border-radius: 20px;
        }
    .navBar {
        display: none;
    }
    #toggle:checked + ul{
        display: flex;
        flex-direction: column;
        width: 100px;
        position: absolute;
        width: 100%;
        right: 0;
        margin: 0;
        top: 7rem;
        
    }
    input{
        display: none;
    }
    nav>ul>li{
        background-color: rgba(0, 0, 0, 0.78);
    }
    .dropDownContent{
        display: none;
        
    }
    #toggle2:checked + .dropDownContent{
        display: none;
    }
    #toggle3{
        padding: 0;
        border-radius: 5px;
    }
    #desktopToggle{
        display: none;
    }


    }