* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
:root {
    --white: #ffffff;
    --red: #FF0000;
    --orange: rgba(255, 136, 0, 0.853);
    --black: rgba(0, 0, 0, 0.205);
    

}
.header {
    background-image: url(./img/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navBar {
    display: flex;
    justify-content: space-between; 

}

#logo-header {
    margin-left: 5rem;
    color: var(--white);
    font-size: 30px;
}
#mainMenu {
    padding: 15px 50px 0 0;
}
@media only screen and (max-width: 992px) {
    #mainMenu {display: none;}
}
#ipad-menu {
    background-color: white;
    counter-reset: black;
    width: 0;
    height: 0;
}
.span-menu {
    padding: 10px;
    background-color: white;
}
#mainMenu> li {
    display: inline-block;
    margin: 5px 20px;
}
#menu-item-1 {
    text-decoration: none;
    background-color: var(--white);
    color: black;
    border-radius: 5px;
    padding: 10px;
}
#menu-item {
    text-decoration: none;
    color: var(--white);
    padding: 10px;
}
#menu-item:hover {
    background-color: var(--white);
    color: black;
    border-radius: 5px;
}
#menu-item > i {
    color: var(--white);
    font-size: 15px;
}
#menu-item:hover> i {
    color: black;
}
#dropdown {
    position: relative;
}
#dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
}
#dropdown-content> a {
    display: block;
    text-decoration: none;
    color: white;
}
#dropdown:hover #dropdown-content {
    display: block;
    background-color: black;
}
#dropdown-content > a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
}
#main-header {
    height: 15rem;
    margin-top: 10rem;
    margin-bottom: 14rem;
}
#ipad-menu {
    display: none;
}
.span-menu {
    display: none;
}
#main-header-item {
    margin: 0 auto;
    width: 50%;
    height: 10rem;
}
b {
    font-size: 50px;
    color: white;
}
#main-header-item2 {
    color: var(--white);
    text-align: center;
    padding: 0 150px;
}
#main-header-item3 {
    display: block;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    width: 100px;
    padding: 10px 5px;
    text-align: center;
    margin: 0 auto;
    text-decoration: none;
}

#label-list {
    margin: 0 auto;
    height: 3rem;
    text-align: center;
}
#dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}
@media (max-width: 576px) {
    #ipad-menu {
        display: block;
    }
    .span-menu {
        display: block;
    }
    #ipad-menu:checked > #mainMenu> li {
        display: block;
    }
    #main-header {
        height: auto;
        margin-bottom: 13rem;
    }
    #main-header-item {
        text-align: center;
        height: inherit;
    }
    #main-header-item > b {
        font-size: 20px;
    }
    #main-header-item2 {
        padding: 0;
    }
    

}

#welcome {
    background-color: var(--white);
}
#welcome-h2 {
    text-align: center;
    font-size: 40px;
    width: 75%;
    height: 2rem;
    margin: 50px auto 30px;

}
#welcome-p {
    text-align: center;
    color: #bbb;
    width: 50%;
    height: 2rem;
    margin: 5rem auto 30px;

}
#welcome-img {
    display: block;
    margin: 5rem auto 0;
    width: 100%;
}
@media (max-width: 576px) {
    #welcome-h2 {
        height: auto;
    }
    #welcome-p {
        height: auto;
    }
    #welcome-img {
        margin: 0 0 10rem 0;
    }
}
/* what we do page */
#what-we-do {
    background-color: var(--white);
    margin: 20px 0 30px;
}
#what-we-do-h2 {
    text-align: center;
    font-size: 50px;
    height: 5rem;
    margin: 50px 5rem 30px;
}
.what-we-do-h3 {
    text-align: center;
}
.what-we-do-p {
    text-align: center;
    color: #bbb;
}
#what-we-do-div {
    display: flex;
    flex-wrap: wrap;
    margin: 0 5rem;
}
#what-we-do-item {
    margin: 0 auto;
    width: 25%;
}
@media only screen and (max-width: 992px) {
    #what-we-do-item {width: 50%}
}
@media (max-width: 576px) {
    #what-we-do-item {width: 100%}
}
#what-we-do-item img {
    border-radius: 100%;
    display: block;
    margin: 10px auto 5rem;
}

#statistics {
    background-image: url(./img/bg.jpg);
    background-repeat: no-repeat;
    padding-bottom: 5rem;
}
@media only screen and (max-width: 992px) {
    #statistics-div {flex-wrap: wrap;}
    #statistics-item {width: 50%}
    #statistics-item>p {text-align: center;}

}
@media (max-width: 576px) {
    #statistics {
        padding: 0;
        margin-bottom: 5rem;
    }
    #statistics-item {
        width: 100%;
    }
}
#statistics-h2 {
    margin: 0 auto;
    text-align: center;
    padding: 5rem;
    color: white;
}
#statistics-div {
    display: flex;
    justify-content: space-evenly;
}
#statistics-item {
    color: var(--white);

}
#statistics-item-big {
    font-size: 60px;
    margin: 0;
    text-align: center;
}
#services-container {
    background-color: #f8f9fa;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50rem;
}
#service-left {
    height: 55%;
    width: 15rem;
    margin-right: 50px;
}
#service-h2 {
    margin: 0;
    text-align: left;
    font-size: 39px;
    
}
#left-p {
    color: var(--black);
    line-height: 30px;
}
#service-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: tomato;
    width: 50%;
    height: 60%;
}
#right-item {
    background-color: var(--white);
    height: 50%;
    width: 50%;
    border: 3px solid var(--white);
    text-align: center;


}
@media (max-width: 576px) {
    #services-container {
        flex-direction: column;
        height: auto;
    }
    #service-h2 {
        text-align: left;
    }
    #service-left {
        width: auto;
    }
    #service-right {
        flex-wrap: nowrap;
        flex-direction: column;
        background-color: transparent;
        width: 90%;
    }
    #right-item {
        width: 100%;
    }
}

#right-item-p {
    padding: 0 10px 15px;
    color: var(--black);
    box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 10%);
}
i {
    padding: 30px 0 15px;
    display: block;
    text-align: center;
    color: var(--orange); 
    font-size: 45px;
}
.testimonials {
    background-image: url(./img/bg.jpg);

}
.testimonials-h2 {
    color: var(--white);
    text-align: center;
    font-size: 50px;
    margin: 0 0 5rem ;
    padding-top: 5rem;

}
.testimonials-main-container {
    display: flex;
    justify-content: center;
}
.testimonials-container {
    width: 20%;
    margin: 0 20px;

}
.testimonials-text {
    color: var(--white);
    text-align: center;
}
.testimonials-container > h3 {
    color: #ff9900;
    text-align: right;
    margin: 3rem 0 5rem;
}
.testimonials-container > img {
    border-radius: 100%;
    display: block;
    margin: 0 auto;
}
.our-blog {
    margin: 10rem 0;
}
.blog {
    text-align: center;
    font-size: 50px;
    
}
.blog-container {
    display: flex;
    justify-content: center;
    
}
.blog-item {
    border: 1px solid #bbb;
    margin: 0 10px 0;
    width: 25%;
    
}
@media only screen and (max-width: 992px) {
    .blog-item {width: 30%}
}
.curve {
    border-radius: 5px;
}
.blog-item-head {
    font-size: 20px;
    padding-left: 10px;
}
.blog-item-text {
    color: #bbb;
    padding-left: 10px;
}
.blog-item >img {
    width: 100%;
    border-radius: 5px;
}
.blog-item >h3 {
    padding-left: 10px;
    color: var(--orange);

}
.blog-date {
    padding-left: 10px;
    color: var(--orange);
}
.map iframe{
    width: 100%;
    height: 50vh;
}
.contact-us {
    padding-bottom: 5rem;
    
}
.contact-us h2 {
    text-align: center;
    color: black;

}
.contact-us-container {
    display: flex;
    justify-content: center;

}
.contact-us-item {
    margin-right: 15rem;
}
.contact-us-item h3 {
    color: var(--orange);
    font-size: 30px;
}
.contact-us-row {
    display: flex;
}
.contact-us-row i {
    color: rgb(23, 23, 82);
    display: block;
    font-size: 30px;
    padding: 15px 30px 0 0;
}
.contact-us-text h4 {
    color: rgb(23, 23, 82);
}
.contact-us-text p {
    color: #bbb;
}
.contact-us-form {
    width: 30%;
    margin-top: 3rem;
    border: 1px solid rgba(187, 187, 187, 0.034);
    padding: 30px;
    box-shadow: 2px 2px 10px #bbb;
    background-color: rgba(187, 187, 187, 0.178);
}
@media only screen and (max-width: 576px) {
    .contact-us-container {
        flex-direction: column;
    }
    .contact-us-item {
        margin: 0px;
        padding: 0 20px;
    }
    .contact-us-form {
        width: 90%;
        margin: 10px;
        
    }

}
.contact-input {
    border: 1px solid #bbb;
    line-height: 50px;
    width: 100%;
    margin-bottom: 20px;
}
#message {
    border: 1px solid #bbb;
    color: rgb(125, 124, 124);
    font-family: inherit;
    resize: none;
    margin-bottom: 20px;
    width: 100%;
    height: 100px;
}
.submit {
    background-color: var(--orange);
    color: white;
    border: 1px solid #bbb;
    border-radius: 5px;
    line-height: 50px;
    width: 100%;
}
.footer {
    background-color: #17181bd3;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0 20px;

}
.footer-box {
    width: 20%;
}
.footer-box h3 {
    color: var(--white);

}
.footer-box p {
    color: #bbb;

}
.footer-box h4 {
    color: var(--white);

}
.footer-box-submit {
    display: flex;
    justify-content: center;
}
.footer-email {
    height: 40px;
    border: 1px solid #bbb;

}
#footer-submit {
    height: 40px;
    background-color: var(--orange);
    color: white;
    border: 0px solid white;
}
.social-media {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
@media only screen and (max-width: 576px) {
    .footer {
        flex-wrap: wrap;
    }
    .about-us {
        width: 50%;
    }
    .who-we-are {
        width: 50%;
    }
    .about-us {
        width: 100%;

    }
    .newsletter {
        width: 100%;
    }



}
.social-media-item {
}
#fb {
    
}
#tw {
    
}
#basket {
    background-color: pink;
}
#email {
    background-color: red;
}
.fa-brands {
    color: blue;
}
.fa {
    color: rgb(0, 140, 255);
}
.fa-basketball-ball {
    color: pink;
}
.fa-envelope {
    color: ;
}
.social-media-item i{
    color: white;
    font-size: 30px;
    width: 20px;
    height: 20px;
}

/* táº¡o label, input check box */



