* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}
h2{
    margin-top: 10px;
    width: auto;
    height: 5vh;
    margin: 0 auto;
    animation: shrink 5s;
}
@keyframes shrink {
    from {
        letter-spacing: 20px;
    }
    to {
        letter-spacing: 1px;

    }
}

p{
    height: 5vh;
    width: 50rem;
    margin: 20px auto  ;

}
img{
    display: block;
    margin: 0;
}




/* code animation----------
suy nghĩ cách dùng animation hay transition
welcome là thẻ container của mình */
#welcome {
    animation: fade-in 5s ease-in-out;
}
@keyframes fade-in;
from {
    opacity: 0;
}
to {
    opacity: 1;
}

