* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;

}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 100px;
}
h2{
    margin-top: 10px;
    width: auto;
    height: 5vh;
    margin: 0 auto;
}
p{
    height: 5vh;
    width: 50rem;
    margin: 20px auto  ;

}
img{
    display: block;
    margin: 0;
}