* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
h2{
    height: 50px;
    margin: 0 auto;
    text-align: center;
} 
img{
    display: block;
    border-radius: 100%;
    width: 100%;
    padding: 0%;
}
.box{
   padding: 100px;

}
.container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}
.containerImg{
    width: 25%;
    padding: 10px 10px 10px 10px;
}